<ion-view view-title="Jogos">
  <ion-content>
    <ion-refresher pulling-text="Recarregar Jogadores" on-refresh="doRefresh()"></ion-refresher>
    <center>
      <ion-spinner icon="android" id="loading-players"></ion-spinner>
    </center>
    <div class="padding">
      <h4 class="title center"><dfn>Escolher os jogadores</dfn></h4>
    </div>
     <ul class="list">
      <li class="item item-checkbox" ng-repeat="jogador in jogadores">
        {{jogador.name}}
         <label class="checkbox right">
           <input type="checkbox" ng-model="jogador.checked" ng-checked="jogador.checked">
         </label>      
      </li>
    </ul>
    <div class="padding">
      <a class="button icon-right button-block ion-android-done button-dark" ng-click="goGameStep2(jogadores)">Próximo</a>
    </div>
  </ion-content>
</ion-view>