<ion-view view-title="Jogos">
  <ion-content>
    <center>
      <ion-spinner icon="android" id="loading-game"></ion-spinner>
    </center>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/cse.png">
        <h2>C.S.E x {{game.versus}}</h2>
        <p>{{game.date}}</p>
      </div>

      <div class="item item-body">
        <h2>Local da partida: </h2>
        <p>{{game.place}}</p>

        <h2>Jogadores: </h2>
        <h3>asdasdsa</h3>
        <h3>asdasdsa</h3>
        <h3>asdasdsa</h3>
        <h3>asdasdsa</h3>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>