/* Empty. Add your own CSS if you like */
.button-float{
  color:white !important;
  z-index: 12 !important;
  position: absolute !important; 
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  min-width: 52px !important;
  min-height: 52px !important;
}

.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
}

.register-fields {
	transition: opacity 1s
}

.register-fields-ok {
	opacity: 0;
}
